<div class="cmp-footer">
    <div class="cmp-footer__links">
        <a href="#" class="cmp-footer__link--separator">
            <img height="65"
                 src="/etc.clientlibs/aemcx/clientlibs/clientlib-site/resources/img/aemcx-logo.svg"
                 alt="AEMCX logo"/>
        </a>
        <p class="cmp-footer__link cmp-footer__link--separator">${'Privacy Policy' @ i18n}</p>
        <p class="cmp-footer__link cmp-footer__link--separator">${'Terms of use' @ i18n}</p>
        <p class="cmp-footer__link cmp-footer__link--copyright">${ '© 2020 NTTData All rights reserved' @ i18n }</p>
    </div>
    <div class="cmp-footer__social">
        <div class="cx-fs-6">
            <a href="#">
                <span aria-label="Facebook" class="icon-facebook"></span>
                <span class="sr-only">Facebook</span>
            </a>
            <a href="#">
                <span aria-label="Instagram" class="icon-instagram"></span>
                <span class="sr-only">Instagram</span>
            </a>
            <a href="#">
                <span aria-label="Twitter" class="icon-twitter"></span>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="#">
                <span aria-label="WhatsApp" class="icon-whatsapp"></span>
                <span class="sr-only">WhatsApp</span>
            </a>
        </div>
        <p class="cmp-footer__link cx-d-none@tablet">${ '© 2020 NTTData All rights reserved' @ i18n }</p>
    </div>
</div>