<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.css @ categories=['aemcx.components,aemcx.components.accordioncomponent'] }"/>
</sly>
<h1 class="restaurants">Signature</h1><b></b>
<div class="accordioncomponent">
    <ul class="accordion-list">
        <div data-sly-use.multiItems="com.aemcx.core.models.AccordionComponentModel">
            <div data-sly-list.head="${multiItems.multiFieldItems}">
                <!--<div class="restaurants">
                    <div class="h">${head.restaurant}</div>
                </div>-->
                <br>
                <details>
                    <img src=${head.imageLink} class="bg-img">
                    <div class="p1">${head.title}</div>
                    <div class="p2">${head.message}</div>
                    <br>
                    <a href= ${head.link}>
                        <!--<div class="button">-->
                            <button class="btn" onclick="myFunction('Demo3')">Read more</button>
                        <!--</div>-->
                    </a>
                </details><b></b>
            </div>
        </div>
    </ul>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories=['aemcx.components,aemcx.components.accordioncomponent'] }"/>
</sly>
