<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
     <sly data-sly-call="${clientlib.css @ categories=['aemcx.components.contactus'] }" />
</sly>
<div class ="two">
    <p class="note">${properties.paragraph}</p>
    <div class="icons">
            <div class="phone text-box">
                    <img class="contact-svg" src=https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg>
                    <p class="contact-text">
                        ${properties.contactnumber}
                    </p>
            </div>
            <div class="mail text-box">
                    <img class="contact-svg" src=https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg>
                    <p class="contact-text">
                        ${properties.address}
                    </p>
                  </div>
    </div>
    <br><br><br>
    <div class="social-media-links">
                  <a href=${properties.linkedinlink}>
                    <img class="social-svg" id="is9ym" src=https://cdn4.iconfinder.com/data/icons/social-media-2259/124/linkedin-512.png>
                  </a>
                  <a href=${properties.twitterlink}>
                    <img class="social-svg" id="i706n" src=https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg>
                  </a>
                  <a href=${properties.instagramlink}>
                    <img class="social-svg" id="ib9ve" src=https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg>
                  </a>
                  <a href=${properties.facebooklink}>
                    <img class="social-svg" id="ie9fx" src=https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg>
                  </a>
    </div>
</div>
<div class="one">
<form id="target">
        <h1 class ="top">NTT DATA <span class="contact-heading">Signature</span></h1>
        <p> We will get back to you in 24 hours</p>
        <label for="fname"> First Name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Enter your first name" required><br><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="fname" placeholder="Enter your last name" required><br><br>

        <label for="phno">Phone Number</label><br>
        <input type="tel" id="phno" name="phno" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="(123-123-1234)"required><br><br>
        <label for="gmail">Gmail:</label><br>
        <input type="email" id="gmail" name="gmail" pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" placeholder="Enter your mail"required><br><br>
        <input type="submit" onClick="myContactUsForm()"/>
</form>
</div>
<script>
	function myContactUsForm() {
    let fname = document.getElementById("fname").value;
    let lname = document.getElementById("lname").value;
    let phno = document.getElementById("phno").value;
    let gmail = document.getElementById("gmail").value;
	var mailPattern = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
	console.log("fname="+fname+" lname="+lname+" phno="+phno+" gmail="+gmail);
    if ((fname!="") && (lname!="") && (phno!="") && (gmail!="") && (gmail.match(mailPattern))) {
			alert( "Your Details are submitted successfully!")
	}
}
</script>