<!-- Modal -->
<div class="modal fade aemcx-search-modal" id="aemcx-search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="icon-close close-search" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="search" data-sly-resource="${'search' @ resourceType='aemcx/components/search'}"></div>
            </div>
        </div>
    </div>
</div>