<div class="cmp-styling">
    <h1>${'Event Theme Colors' @ i18n}</h1>
    <sly data-sly-resource="${'separator' @ resourceType='/apps/core/wcm/components/separator/v1/separator'}"></sly>
    <ul data-sly-list.color="${['tundora', 'pomegranatea', 'weborange', 'nightrider', 'nero', 'mineshaft', 'eclipse', 'white', 'nobel', 'grey', 'suvagrey', 'codgray', 'black', 'silverchalice', 'sunshade', 'grey17']}"
        class="style-items columns">
        <li class="color">
            <i class="${color} color-item"></i>
            <div>
                <p title="CSS class">.${color}</p>
                <p title="LESS variable">@${color}</p>
            </div>
        </li>
    </ul>

    <h1>${'Font Banners' @ i18n}</h1>
    <sly data-sly-resource="${'separator' @ resourceType='/apps/core/wcm/components/separator/v1/separator'}"></sly>
    <h2>${'Font families' @ i18n}</h2>
    <div class="typography">
        <ul data-sly-list.font="${['cutterlinesdemo', 'raleway-regular', 'raleway-medium', 'raleway-light', 'helveticaneue', 'oswald-medium', 'oswald-light']}"
            class="style-items">
            <li class="style-item">
                <div>
                    <div title="CSS class">.${font}</div>
                    <p title="LESS variable">@${font}</p>
                </div>
                <div class="${font} font-item">
                    ${'AEM on a plate' @ i18n}
                </div>

            </li>
        </ul>
    </div>

    <h2>${'Size Banners' @ i18n}</h2>
    <sly data-sly-set.fontSizes="${[12,18,24,30,36,42,48,54,60]}"></sly>
    <ul data-sly-list.size="${[2,3,4,5,6,7,8,9,10]}"
        class="style-items">
        <li class="style-item">
            <div class="font-item">
                .cx-fs-${size}
                <div>${fontSizes[sizeList.index]}px</div>
            </div>
            <div class="cx-fs-${size} ellipsis">AEM on a plate</div>
        </li>
    </ul>
</div>