<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
     <sly data-sly-call="${clientlib.css @ categories=['aemcx.components.registrationform'] }" />
</sly>

<div data-sly-use.multiItems="com.aemcx.core.models.StripeModel">


<form id="form" data-parsley-validate action= "${resource.path}.stripePayment.html" method="GET" target="_blank"> 
  <div class="registerform-container">  
	  <center><h2 class="registerform-heading"> Enroll Onto Club Signature For A Bouquet Of <br>Benefits And Privileges by Signature.</h2></center>  
	  <hr>  
		<label> Firstname* </label>   
		<input type="text" id="firstname" name="firstname" placeholder= "Enter Firstname" size="15" required><br>
		<br>
		<label> Lastname* </label>    
		<input type="text"  id="lastname" name="lastname" placeholder="Enter Lastname" size="15" required>   
		<br><br>
		<label>Phone*</label>  
		<input type="tel" id="contact" name="phone" placeholder="Enter phone no. (123-123-1234)" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" size="10"  &nbsp;/ required>
		<br><br>
		<label for="email"><b>Email*</b></label>  
		<input type="email" id="mail" name="email" pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" placeholder="Enter your mail"required>  
		<br><br>
		<!--<label for="psw"><b>Password</b></label> --> 
		<!--<input type="password" placeholder="Enter Password" name="psw" required>  
		<p id="fname-error"></p><br><br>-->
		<label for="date"><b>Date*</b></label>  
		<input type="date" id="registerdate" placeholder="Choose the Date" name="date"required>
		<br><br>

		<!-- Where my work begins -->
		<div>  
			<label for="events">Events*</label>   
			<select name="events" id="events" required> 
					<option value="Select Option" disabled selected>Select Option</option>
					<div data-sly-list.stripeItemDetails="${multiItems.multiFieldItems}">  
					<option value="${stripeItemDetails.dropdownItem}" data-price="${stripeItemDetails.itemPrice}" data-desc="${stripeItemDetails.itemDesc}">
						${stripeItemDetails.dropdownItem}
					</option>  
				</div>  
			</select>  
		</div>  
		<br><br>
		 <button id="checkout-button" class="registerform-button" onclick="stripeCheck();myRegisterForm()">Register</button> 
	</div>
 </form>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories= ['aemcx.components.registrationform'] }"/>
</sly>
